html, body, #root, #root > div {
    height: 100%;
}

.layout-main-container {
    min-height: 100%;
}

.layout-main-container .main {
    overflow: auto;
    padding-bottom: 70px;
}

.footer-div {
    position: relative;
    height: 70px;
    margin-top: -70px;
    background-color: #00BCD4;
    clear: both;
    border-top: 6px solid #0495a8;
}